h1, h2{
    font-family: 'Montserrat Alternates', sans-serif
}

.music{
    width: 60px;
}

h1{
    text-align: center;
    margin:  60px 0 0 0;
    font-size: 100px;

}

h2{
    text-align: center;
   
}
body{
    background: #EAEAEA;
}


.mouseover{
    box-shadow: 0 3px 4px 0  lightblue;
    opacity: 0.5;
    cursor: pointer;
  }

  @media(max-width: 700px) {

    h1{
        font-size: 50px;
    }
    .music{
        width: 30px;
    }

    h2{
        font-size: 20px;
    }
     
    }